__Задача 1__

Даны значения величины заработной платы заемщиков банка (`salary`) и значения их поведенческого кредитного скоринга (`scoring`):
```
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
```
1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции `numpy.cov`. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек `numpy` и `pandas`.

__Решение:__

1. Используем формулу ковариации случайных величин $X$ и $Y$:

$$\operatorname{cov}(X, Y) = M\left( (X - M(X)) (Y - M(Y)) \right).$$

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
salary = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [3]:
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [4]:
M_salary = salary.mean()

M_salary

101.4

In [5]:
M_scoring = scoring.mean()

M_scoring

709.9

In [6]:
cov_1 = ((salary - M_salary) * (scoring - M_scoring)).mean()

cov_1

9157.84

То же самое с помощью функции $cov$:

In [7]:
cov_2 = np.cov(salary, scoring, ddof=0)

cov_2

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

2. Найдем коффициент корреляции Пирсона: $$r_{XY} = \dfrac{\operatorname{cov}(X, Y)}{\sigma_X \cdot \sigma_Y}.$$

In [8]:
corr1 = cov_1 / (salary.std() * scoring.std())

corr1

0.8874900920739162

То же самое с помощью numpy и pandas:

In [9]:
np.corrcoef(salary, scoring)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [10]:
df = pd.DataFrame({'salary': salary, 'scroting': scoring})
df.head()

   salary  scroting
0      35       401
1      45       574
2     190       874
3     200       919
4      40       459

In [11]:
df.corr()

           salary  scroting
salary    1.00000   0.88749
scroting  0.88749   1.00000

__Задача 2__

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
```
131, 125, 115, 122, 131, 115, 107, 99, 125, 111
```
Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

__Решение:__

In [12]:
sample = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [13]:
m = sample.mean()

m

118.1

In [14]:
n = sample.shape[0]

n

10

In [15]:
sig = np.sqrt(((sample - m)**2).sum()/(n - 1))

sig

10.54566788359614

In [16]:
alpha = 0.05

Используем библиотеку stats для нахождения $t$ квантиля:

In [17]:
t = stats.t.ppf(1 - alpha/2, n - 1)

t

2.2621571627409915

Тогда доверительный интервал:

In [18]:
(m - t*sig/np.sqrt(n), m + t*sig/np.sqrt(n))

(110.55608365158724, 125.64391634841274)

__Задача 3__

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

__Решение__:

Найдем доверительный интервал по формуле: 

$$
P \left( 
\overline{X} - t_{1 - \alpha/2, \: n - 1} \cdot \dfrac{\sigma_X}{\sqrt{n}} 
\leq M(X) \leq
\overline{X} + t_{1 - \alpha/2, \: n - 1} \cdot \dfrac{\sigma_X}{\sqrt{n}} 
\right) = 1 - \alpha.
$$

$\overline{X} = 174.2,  \sigma_X = 5, n = 27$

In [47]:
sigma = 5

In [48]:
n = 27

In [42]:
mean = 174.2

In [50]:
(mean - 2 * sig/np.sqrt(n), mean + 2 * sig/np.sqrt(n))

(172.27549910270125, 176.12450089729873)